In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
input_df = pd.read_csv("tati_pariuri_actualizat.csv")

In [4]:
input_df = input_df.replace('DANIEL PETERSE', 'DANIEL PEDERSEN')
input_df = input_df.replace('TOBIAS PETERSEN', 'TOBIAS PEDERSEN')

In [ ]:
#input_df = input_df.drop([1464])

In [7]:
input_df.shape

(4973, 27)

In [12]:
tmp_df = input_df.groupby(['DATA', 'CINE', 'CAMP']).count()

In [23]:
tmp_df[tmp_df.U1 != 2].shape

(0, 24)

In [15]:
tmp_df = tmp_df[tmp_df.U1 == 2]

In [16]:
merged_df = []

for i in tmp_df.index:
    idf = input_df[(input_df.DATA == i[0]) & (input_df.CINE == i[1]) & (input_df.CAMP == i[2])]
    
    if pd.isna(idf.iloc[0].GAZDE):
        dest = idf.iloc[1].copy()
        source = idf.iloc[0].copy()
    else:
        dest = idf.iloc[0].copy()
        source = idf.iloc[1].copy()
    
    dest['LOC_home'] = source['LOC']
    dest['ZI_home'] = source['ZI'] 
    dest['U1_home'] = source['U1'] 
    dest['U2_home'] = source['U2'] 
    dest['U3_home'] = source['U3'] 
    dest['U4_home'] = source['U4'] 
    dest['U5_home'] = source['U5'] 
    
    
    dest['LOC.1_away'] = source['LOC.1'] 
    dest['ZI.1_away'] = source['ZI.1'] 
    dest['U1.1_away'] = source['U1.1'] 
    dest['U2.1_away'] = source['U2.1'] 
    dest['U3.1_away'] = source['U3.1'] 
    dest['U4.1_away'] = source['U4.1'] 
    dest['U5.1_away'] = source['U5.1'] 


    merged_df.append(dest)

In [17]:
merged = pd.DataFrame(np.array(merged_df))

In [18]:
merged.columns = merged_df[0].index

In [19]:
merged.to_csv('preprocessed_data.csv')

In [ ]:
merged = pd.read_csv("preprocessed_data.csv")

In [29]:
merged.head()

        DATA TIP TIPSTER  ora COTA               CINE CAMP          GAZDE G_LOC_TOTAL G_ZI_TOTAL G_U1_TOTAL G_U2_TOTAL G_U3_TOTAL G_U4_TOTAL G_U5_TOTAL      OASPETI O_LOC_TOTAL O_ZI_TOTAL O_U1_TOTAL O_U2_TOTAL O_U3_TOTAL O_U4_TOTAL O_U5_TOTAL 1COTA XCOTA 2COTA  SCOR PAUZA G_LOC_ACASA G_ZI_ACASA G_U1_ACASA G_U2_ACASA G_U3_ACASA G_U4_ACASA G_U5_ACASA O_LOC_DEPL O_ZI_DEPL O_U1_DEPL O_U2_DEPL O_U3_DEPL O_U4_DEPL O_U5_DEPL
0  1/29/2021         NaN  NaN    X   ANDREAS FLEICHER  TC1    YENI MALATA           9          E          I          V          V          I          E  KARAMGIURUK           8          E          V          I          V          V          I   2.2   3.5   3.2  0.-0  0.-0           8          E          I          V          E          I          V         11         E         V         V         I         E         I
1  1/29/2021         NaN  NaN    1  ARIOSTO CREMONESI  EN2        READING           5          V          E          V          V          E          V  BOURNEMOUTH           6          I          I          I          E          V          I  3.25  3.25   2.3  3.-1  3.-0           5          V          V          V          I          I          V          8         I         I         V         I         E         E
2  1/29/2021         NaN  NaN    2        DIRK PETERS  SP1      VALADOLID          16          I          E          E          I          V          E       HUESCA          20          V          E          I          I          I          I   2.4  3.15  3.25  1.-3  0.-1          16          I          E          I          I          V          E         20         V         I         I         I         E         E
3  1/29/2021         NaN  NaN    1       ELIA YAZANDA  SP2  REAL ZARAGOZA          20          V          I          V          E          V          I  PONFERADINA           7          I          V          E          I          V          I     2   3.2   3.7  1.-0  1.-0          13          V          V          V          V          I          I          6         I         V         I         I         V         E
4  1/29/2021         NaN  NaN    2      HEIKI LAURILA  CHI        COQINBO          18          I          V          I          E          V          I   UNIV CHILE           7          V          E          E          E          I          V   3.2   3.3   2.3  0.-1  0.-0          17          I          E          I          I          I          V          9         V         E         I         E         V         E

In [27]:
merged = merged.rename(columns={"LOC":"G_LOC_TOTAL", "ZI": "G_ZI_TOTAL", "U1": "G_U1_TOTAL", "U2":"G_U2_TOTAL", "U3":"G_U3_TOTAL", "U4":"G_U4_TOTAL", "U5":"G_U5_TOTAL",
                       "LOC.1":"O_LOC_TOTAL", "ZI.1":"O_ZI_TOTAL", "U1.1":"O_U1_TOTAL", "U2.1":"O_U2_TOTAL", "U3.1":"O_U3_TOTAL", "U4.1":"O_U4_TOTAL", "U5.1":"O_U5_TOTAL",
                       "LOC_home":"G_LOC_ACASA", "ZI_home":"G_ZI_ACASA", "U1_home":"G_U1_ACASA", "U2_home":"G_U2_ACASA", "U3_home":"G_U3_ACASA", "U4_home":"G_U4_ACASA", "U5_home":"G_U5_ACASA",
                       "LOC.1_away":"O_LOC_DEPL", "ZI.1_away":"O_ZI_DEPL", "U1.1_away":"O_U1_DEPL", "U2.1_away":"O_U2_DEPL", "U3.1_away":"O_U3_DEPL", "U4.1_away":"O_U4_DEPL", "U5.1_away":"O_U5_DEPL"
                      })

In [28]:
merged.to_csv('preprocessed_data.csv')

In [4]:
merged = pd.read_csv('prep_data_input.csv')

# Computing distance between historical results

In [32]:
Y = merged[[
    'G_U1_TOTAL', 'G_U2_TOTAL', 'G_U3_TOTAL', 'G_U4_TOTAL', 'G_U5_TOTAL',
    'O_U1_TOTAL', 'O_U2_TOTAL', 'O_U3_TOTAL', 'O_U4_TOTAL', 'O_U5_TOTAL',
    'G_U1_ACASA', 'G_U2_ACASA', 'G_U3_ACASA', 'G_U4_ACASA', 'G_U5_ACASA',
    'O_U1_DEPL', 'O_U2_DEPL', 'O_U3_DEPL', 'O_U4_DEPL', 'O_U5_DEPL']].fillna('NAN').values

In [33]:
Y_arr = pd.DataFrame(Y.reshape(-1), columns=['result'])

In [34]:
Y_arr = Y_arr.replace('ABANDON', 'AB')

In [37]:
from sklearn.preprocessing import LabelEncoder
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
Y_arr['result_Cat'] = labelencoder.fit_transform(Y_arr['result'])

In [38]:
from sklearn.preprocessing import OneHotEncoder

# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(Y_arr[['result_Cat']]).toarray())
# merge with main df bridge_df on key values
Y_arr = Y_arr.join(enc_df)

In [39]:
enc_df

         0    1    2    3    4
0      0.0  0.0  1.0  0.0  0.0
1      0.0  0.0  0.0  0.0  1.0
2      0.0  0.0  0.0  0.0  1.0
3      0.0  0.0  1.0  0.0  0.0
4      0.0  1.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...
45855  0.0  0.0  1.0  0.0  0.0
45856  0.0  0.0  1.0  0.0  0.0
45857  0.0  0.0  0.0  0.0  1.0
45858  0.0  0.0  0.0  0.0  1.0
45859  0.0  0.0  1.0  0.0  0.0

[45860 rows x 5 columns]

In [40]:
Y_oh_encoded = enc_df.values.reshape((Y.shape[0],Y.shape[1] * 5))

In [41]:
Y[120]

array(['V', 'I', 'V', 'I', 'E', 'E', 'V', 'E', 'V', 'E', 'I', 'I', 'V',
       'V', 'V', 'E', 'E', 'V', 'I', 'I'], dtype=object)

In [42]:
Y_oh_encoded.shape

(2293, 100)

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
q = Y_oh_encoded[322]

In [46]:
rez = cosine_similarity(Y_oh_encoded, [q])

In [47]:
pd.DataFrame({'cosine':rez.squeeze()}).sort_values('cosine', ascending=False).head(10)

      cosine
322     1.00
331     1.00
180     0.65
178     0.65
349     0.65
674     0.60
440     0.60
1116    0.60
1954    0.55
173     0.55

In [48]:
Y[322]

array(['I', 'V', 'I', 'I', 'E', 'V', 'I', 'V', 'E', 'V', 'I', 'V', 'I',
       'NAN', 'NAN', 'V', 'I', 'I', 'NAN', 'NAN'], dtype=object)

In [49]:
Y[870]

array(['I', 'V', 'V', 'I', 'V', 'V', 'I', 'E', 'I', 'I', 'V', 'V', 'E',
       'V', 'E', 'I', 'I', 'E', 'E', 'V'], dtype=object)

In [51]:
merged.iloc[322]

In [ ]:
merged.iloc[870]

# Computing distance between odds

In [5]:
X = merged[['1COTA', 'XCOTA', '2COTA']].fillna(-1).values

In [6]:
X

array([[2.2 , 3.5 , 3.2 ],
       [3.25, 3.25, 2.3 ],
       [2.4 , 3.15, 3.25],
       ...,
       [4.15, 3.15, 1.9 ],
       [4.15, 3.15, 1.9 ],
       [4.15, 3.15, 1.9 ]])

In [7]:
X[150]

array([2.3, 3.5, 3. ])

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
query = [2.3, 3.5, 3]

In [10]:
rez = cosine_similarity(X, [query])

In [11]:
pd.DataFrame({'cosine':rez.squeeze()}).sort_values('cosine', ascending=False)

        cosine
2114  1.000000
238   1.000000
150   1.000000
2092  1.000000
668   0.999991
...        ...
193  -0.986215
190  -0.986215
184  -0.986215
1761 -0.986215
186  -0.986215

[2293 rows x 1 columns]

In [12]:
query

[2.3, 3.5, 3]

In [ ]:
X[1761]

In [ ]:
merged.iloc[150]

In [ ]:
merged.iloc[243]